{% extends "base.html" %}

{% block content %}
<section class="section">
    <p class="section__label reveal">Introduction</p>
    <h1 class="section__title reveal">{{ title }}</h1>
    <div class="about-content reveal">
        <p>This page is about me! My name is Abrar Habib.</p>
        <p>This is a change I am making to show that the redeploy script is working as intended!</p>
        <p>This is a change I'm making to show that the CI is working as intended.</p>
    </div>
</section>
{% endblock %}
