{% extends "base.html" %}

{% block content %}
<section class="section">
    <p class="section__label reveal">Interests</p>
    <h1 class="section__title reveal">{{ title }}</h1>
    <p class="section__subtitle reveal">Things I enjoy outside of code.</p>

    <div class="hobby-grid stagger">
        {% for item in hobbies %}
        <div class="hobby-card reveal">
            <img src="{{ item.source }}" alt="{{ item.title }}" class="hobby-card__img">
            <div class="hobby-card__body">
                <h3 class="hobby-card__title">{{ item.title }}</h3>
                <p class="hobby-card__desc">{{ item.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
