{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block content %}
<section class="section">
    <p class="section__label reveal">Exploring</p>
    <h1 class="section__title reveal">{{ title }}</h1>
    <p class="section__subtitle reveal">Places I've been around the world.</p>

    <div class="map-wrap reveal">
        <div id="map" data-locations='{{ locations | tojson | safe }}'></div>
    </div>

    <div class="locations-grid stagger">
        {% for location in locations %}
        <div class="location-tag reveal">{{ location.name }}</div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
